.results{
    min-height: 90vh;
    padding: 20px 0; 
}
.LinkColor {
    color: #436DF0;
}
.box{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
}
.box:hover{
    background-color: white;
}
.sugBox{
    background-color: white;
    box-shadow: 2px 2px 10px #888;
    border-radius: 2%;
    position: absolute;
    width: 96%;
    text-align: start;
   
}
.sugBox p{
    margin: 0;
    padding:10px 50px ;
    font-size: 22px;
}
.sugBox p:hover{
    cursor: pointer;
    background-color: #F9FAFB;
}
.sugBox hr{
    margin: 0;
   
}